/**
 * National College of Ireland - NCI
 *    Higher Diploma in Computing
 *         Final Project
 *              ---
 * Author: Sergio Vinicio da Silva Oliveira
 * ID: x23170981@student.ncirl.ie
 * Project Commencing May 2024
 * Version: 1.0
 */


/* Page: All
* The styles defined within the @media (max-width: 'X' px)
* rule will only be applied when the viewport
*
* This is a common technique used in responsive web design
* to apply different styles depending on the device or screen size.*/
@media (max-width: 992px)
{
    .sidebar
    {
        display: none; /*hides the side menu side bar*/
        overflow-y: scroll;
        width: 30%;
    }
    #menuBTN{
        top: 10px;
    }
}


/* Rule to set screen minimum size 991px */
@media (min-width: 991px)
{
    #menuBTN {
        /*display: none; hides the side menu btn*/
    }
}

/*
 * Page: All
 * Topic:
 * Details:
 */
html, body
{
    height: 50%;
    margin: 0;
    padding: 0;

}


/*
 * Page: All
 * Topic: Menu
 * Details: This set the position of the sidebar
 */
.sidebar
{
    position: fixed;
    width: 280px;
    height: 100%;
    left: 0;
    top: 0; /*Overlap the Menu button*/
}

/*
 * Page: All
 * Topic: Content
 * Details: All pages will be display ate the same point
 */
.content
{
    margin-left: 300px;
}

.btn-group
{
    left: 70px;
    top: 3px;
}


/* ---------------------------------------------
 * Page: Index
 * Topic: Card
 * Details: Set the responsive
*/
.card
{
    margin-bottom: 20px;
    flex: 0 0 calc(33.333% - 20px); /* Display 3 cards per line */
}



/* ---------------------------------------------
 * Page: Rent
 * Topic: Table
 * Details:
*/

.table-responsive
{
    height: 400px; /*The size of the list on screen*/
    box-sizing: border-box;
}

.table-responsive th
{
    top: 0;
    position: sticky;
}



